// Custom CSS for this application.

/* Whenever possible, add the custom CSS in a component itself.  
Use this file to override items that go across the entire application
or overriding some Bootstrap css.

NOTE: You can use custom variables stored in the _variables.scss file.

*/

.testing-alert-popover-warning {
  --bs-popover-border-color: #ffecb5;
  --bs-popover-bg: #fff3cd;

  .popover-header {
    --bs-popover-header-bg: #ffe7a3;
  }
}

.testing-alert-popover-success {
  --bs-popover-border-color: #badbcc;
  --bs-popover-bg: #d1e7dd;

  .popover-header {
    --bs-popover-header-bg: #a6c4b7;
  }
}

/* ******* HEADER ************** */

.app-header {
  --bs-card-border-radius: 0;

  margin-bottom: 10px;

  .card-title {
    text-align: right;
  }
}

.app-footer {
  --bs-card-border-radius: 0;

  text-align: center;
  margin-top: 20px;
}

.home-intro-card {
  background-color: #000;
  background-image: url('../images/GerberaHome.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 55% 100%;
  border-color: #fff;
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 20px;
}

// colors that work on black
// Gray #757575
// Pink #FE7192

/*
https://web.dev/css-marker-pseudo-element/

*/
